.button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 180px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    appearance: none;
    font-weight: 500;
    font-size: 14px;
    color: var(--color-dark);
    cursor: pointer;
    background-color: transparent;
    transition: transform 0.3s ease;
}

.button:hover{
    transform: translateY(-3px);
}

.limeButton{
    background: var(--color-detail);
}

.ligthButton{
    background: var(--color-light);
}

.default_icon{
    width: 18px;
    height: 18px;
}

@media screen and (min-width: 481px) and (max-width: 768px){
    .button{
        font-size: 16px;
        height: 40px;
    }
}