.container {
  width: 51%;
  height: 100vh;
}

.social {
  padding: 7.2% 0 0 0;
  width: 64px;
  flex: end;
  display: flex;
  justify-content: space-between;
  margin-left: 69.23%;
}

.form {
  padding: 18.17% 20.88% 0 112px;
  min-width: 50%;
}

.paragraph {
  padding-top: 38px;
  padding-bottom: 39.02px;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */

  color: var(--color-dark);
}



