.container {
  width: 728px;
  height: 100vh;
}

.social {
  padding: 59px 0 0 504px;
  width: 64px;
  display: flex;
  justify-content: space-between;
}

.form {
  padding: 149.98px 0 0 112px;
  width: 464px;
  height: 347.02px;
}

.paragraph {
  padding-top: 38px;
  padding-bottom: 39.02px;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */

  color: var(--color-dark);
}



