.container {
  display: flex;
  flex: 1;
  justify-content: center;
}

.form_inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  min-width: 50%;
  height: 100%;
}

.social {
  padding: 7.2% 0 0 0;
  width: 64px;
  display: flex;
  justify-content: space-between;
  margin-left: 89%;
}

.social img {
  cursor: pointer;
}


.form {
  padding: 18.17% 0 0 0;
  min-width: 50%;
}

.paragraph {
  padding-top: 38px;
  padding-bottom: 39.02px;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */

  color: var(--color-dark);
}
