.form_container{
    display: flex;
    justify-content: center;
    flex: 1;
}

.form_inner{
    display: flex;
    flex-direction: column;
    min-width: 50%;
    margin-left: 10.9%;
    margin-right: 10.9%;
    height: 100%;
}

.form_social{
    display: flex;
    padding-top: 10%;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.form_social_icon{
    cursor: pointer;
}

.form_texts{
    display: flex;
    flex-direction: column;
    gap: 38px;
    padding-top: 30%;
}

.form_texts_logo{
    width: 152px;
    height: 50px;
}

.form_texts_main{
    font-size: 24px;
    color: var(--color-dark);
    font-weight: 500;
}

.form_actions{
    display: flex;
    flex-direction: column;
    margin-top: 10%; 
    gap: 26px;   
}

@media screen and (min-width: 1025px) and (max-width: 1500px){
    .form_inner{
        display: flex;
        flex-direction: column;
        width: 60%;
    }

    .form_texts{
        display: flex;
        flex-direction: column;
        gap: 38px;
        padding-top: 23%;
    }
}
