.intro_container {
  background-color: var(--color-dark);
  width: 712px;
  height: 100vh;
}

.intro_title {
  margin-left: 152px;
  padding-top: 182px;
  color: var(--color-light);
  font-size: 38px;
  font-weight: 500;
  line-height: 1.3;
}

.intro_image {
  margin-left: 108px;
  /* fica por cima do conetúdo */
  position: absolute;
  bottom: 0;
}
