.categories_container {
  transform: translateY(-65px);
  height: calc(100vh - 335px);
}
body {
  background-color: #e5e5e5;
}
.render_grid_categories {
  /* https://stackoverflow.com/questions/18744164/flex-box-align-last-row-to-grid */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* quantidade de colunas e tamanho da coluna. Fr é fração do espaço disponível para as colunas
  (autofill, 272px) é a forma como eu havia colocado inicialmente*/
  grid-gap: 20px;
  justify-content: space-between;
}
