.categories_container {
  transform: translateY(-65px);
  height: calc(100vh - 335px);
}
body {
  background-color: #e5e5e5;
}
.snnipets_title_container {
  display: flex;
  margin-top: 54px;
  margin-bottom: 20px;
  align-items: center;
}
.snnipets_title_container span {
  font-size: 28px;
  font-weight: 500;
  color: var(--color-dark);
  position: relative;
  right: 10px;
}
.snnipets_title_container img {
  cursor: pointer;
  position: relative;
  right: 30px;
}
.snnipets_breadcrumb {
  display: flex;
  gap: 15px;
  margin-bottom: 50px;
}
.snnipets_breadcrumb .caminho {
  color: var(--color-light-text);
  cursor: pointer;
}

.render_grid_categories {
  /* https://stackoverflow.com/questions/18744164/flex-box-align-last-row-to-grid */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* quantidade de colunas e tamanho da coluna. Fr é fração do espaço disponível para as colunas
  (autofill, 272px) é a forma como eu havia colocado inicialmente*/
  grid-gap: 20px;
  justify-content: space-between;
}
@media screen and (max-width: 500px) {
  .render_grid_categories {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 501px) and (max-width: 1000px) {
  .render_grid_categories {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1001px) and (max-width: 1400px) {
  .render_grid_categories {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1401px) {
  .render_grid_categories {
    grid-template-columns: repeat(4, 1fr);
  }
}
