.navbar{
    width: 100vw;
    margin-bottom: 80px;
  
    background-color: var(--color-dark);
}

.content{
    padding-left: 160px;
    padding-right: 160px;

    height: 61px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.options img{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid var(--color-light);
}
