@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

:root {
  --color-main: #212529;
  --color-details: #d3f13a;
  --color-info: #f4cb50;
  --color-error: #f13a3a;
  --color-text: #4f5b67;
  --color-semi-dark: #777777;
  --color-cold: #eaecee;
  --color-base: #ffffff;
}

html,
body {
  background-color: #fefefe;
  color: var(--color-main);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
}
