.header_container_active{
    background-color: var(--color-dark);
    background-image: url("../../../assets/pattern.png");
    width: 100%;
    height: 336px;
    transition: all 0.3s ease-in-out;
}

.header_container_off{
    background-color: var(--color-dark);
    background-image: url("../../../assets/pattern.png");
    width: 100%;
    height: 60px;
    transition: all 0.3s ease-in-out;
}

.header_info_active{
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
    margin-top: 80px;
}

.header_info_off{
    opacity: 0;
    transform: translateY(-150px);
    transition: all 0.3s ease-in-out;
}

.header_welcome_title{
    font-size: 35px;
    font-weight: normal;
    color: var(--color-detail);
    margin-bottom: 10px;
}

.header_welcome_title strong{
    color: var(--color-light);
}

.header_welcome_description{
    font-size: 22px;
    font-weight: 300;
    color: var(--color-light);
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header_logo{
    width: 85px;
    height: 26px;
}

.header_user_actions{
    display: flex;
    gap: 18px;
    justify-content: space-between;
    align-items: center;
}

.header_user_avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--color-light);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.header_user_avatar:hover{
    transform: translateY(-3px);
}

@media screen and (min-width: 481px) and (max-width: 768px){
    .header_container{
        padding: 10px;
        height: 59px;
        justify-content: center;
    }
    .header_user_actions{
        gap: 40px;
    }
    .header_logo{
        display: none;
    }
    .header_user_avatar{
        width: 38px;
        height: 38px;
    }
}
