.header_container {
  display: flex;
  background-color: var(--color-dark);
  background-image: url("../../../assets/headerbackgroung.svg");
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  height: 100%;
}
.header_container_active {
  height: 336px;
}

.header_container_off {
  height: 64px;
}

.header_inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100%;
}

.header_logo {
  height: 26px;
  width: 85px;
  cursor: pointer;
}

/* .header h1 {
    margin: 0;
    color: #ffffff;
    font-weight: 400;
    font-size: 22px;
    background: -webkit-linear-gradient(
      45deg,
      var(--color-light),
      var(--color-todark) 80%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
  } */

.header_right_side {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
}

.header_profile_image {
  border-radius: 100%;
  border: 2px solid var(--color-light);
  height: 28px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.header_buttons {
  transition: transform 0.3s ease;
}
.header_buttons:hover {
  transform: translateY(-3px);
}

.header_profile_image:hover,
.create_snippet_button:hover {
  transform: translateY(-3px);
}

.header_info_active {
  margin-top: 80px;
  opacity: 1;
  transform: translateY(0);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.header_info_off {
  opacity: 0;
  transform: translateY(-150px);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.header_welcome_title {
  font-size: 35px;
  font-weight: normal;
  color: var(--color-detail);
  margin-bottom: 10px;
}

.header_welcome_title strong {
  color: var(--color-light);
}

.header_welcome_description {
  font-size: 22px;
  font-weight: 300;

  color: var(--color-light);
}

.header_modal_container,
.header_modal_container_off {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  opacity: 1;
  position: absolute;
  top: 50px;
  right: 10.6%;
  min-width: 400px;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.header_modal_container_off {
  pointer-events: none;
  /* display: none; */

  opacity: 0;
  right: 0px;
}
.header_modal_input,
.header_modal_input_error {
  width: 100%;
  border: none;
  height: 30px;
  font-size: 14px;
  padding: 0 12px;
  border-radius: 4px;
  border: 2px solid transparent;
}
.header_modal_input_error {
  border: 2px solid rgb(212, 72, 72);
}
