.card_container{
    width: 272px;
    height: 128px;
    border-radius: 6px;
}

.card_title{
    display: flex;
    height: 74%;
    width: 100%;
    
    background-color: var(--color-light);
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.card_title h1{
    margin: 16px 0px 0px 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: var(--color-dark);
}


.card_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-light);

    height: 26%;
    background-color: var(--color-card-footer);

    gap: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 0px 16px;

}

.card_footer_inner{
    display: flex;
    align-items: center;
    gap: 8px;
}

