@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");
@import url("./reset.css");

:root {
  --color-dark: #1b1b1b;
  --color-light: #ffffff;
  --color-detail: #d3fa3a;
  --color-border: rgba(0, 0, 0, 0.4);
  --color-button-opacity: #f4f2f2;
  --color-button-opacity-dark: #1b1b1be8;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 42px;
  gap: 8.18px;
  width: 176px;
  height: 34px;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--color-dark);
  background: var(--color-detail);
  border-radius: 3px;
  cursor: pointer;
}
