@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");
@import url("./reset.css");

:root {
  --color-dark: #1b1b1b;
  --color-dark-rethink: #464438;
  --color-light: #ffffff;
  --color-detail: #d3fa3a;
  --color-base: #f8f8f8;
  --color-border: rgba(0, 0, 0, 0.4);
  --color-button-opacity: #ededed60;
  --color-button-opacity-dark: #101010;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
