.login {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}

.left_side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #1b1b1b;
  width: 45%;
  height: 100vh;
}

.left_side h1 {
  margin-top: 20%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 120%;
  /* or 46px */

  letter-spacing: 0.01em;

  color: #ffffff;
}

.left_side img {
  overflow: hidden;
  height: 55%;
  width: 60%;
}

.right_side {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e5e5;
  width: 55%;

  height: 100vh;
  justify-content: center;
}

.right_side .inside {
  display: flex;
  height: 50%;

  justify-content: space-evenly;
  flex-direction: column;
  align-items: baseline;
}
.right_side .inside p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 27.6923px;
  line-height: 120%;
  /* or 33px */

  color: #000000;
}
.google_login:hover,
.git_login:hover {
  cursor: pointer;
}
.google_login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  border: 1.15385px solid rgba(0, 0, 0, 0.4);
  border-radius: 4.61538px;
  width: 480px;
  height: 60px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 19.6154px;
  line-height: 120%;
}
.git_login {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 19.6154px;
  line-height: 120%;
  /* identical to box height, or 24px */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16.1538px 18.4615px;
  gap: 11.54px;

  width: 480px;
  height: 60px;

  background: #000000;
  border: 1.15385px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4.61538px;
}

.divisoria {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 19.6154px;
  line-height: 120%;
  /* identical to box height, or 24px */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 10px auto;
}
.divisoria img {
  height: 2px;
}

.social_media {
  position: relative;
  left: 85%;
  top: -230%;
}

.social_media img {
  margin-right: 15px;
}
