.container {
  background-color: #1b1b1b;
  color: white;
  width: 49%;
  height: 100vh;
  overflow: hidden;
}

.container p {
  /* Anotações rápidas para devs! */
  width: 324px;
  height: 92px;
  padding: 18% 0 0 21.2%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 120%;
  /* or 46px */
  letter-spacing: 0.01em;
  color: #ffffff;
}

.container img {
  /* RTHK0002_rethink_rgb_fb_25 1 */

  width: 299px;
  height: 390px;
  margin-left: 7%;
  position: absolute;
  bottom: 0;
}


@media screen and (min-width: 1020px) and (max-width:1500px){

  .container img{
    margin-left: 13%;
  }

  .container img{
    max-width: 300px;
  }
  
}

@media screen and (min-width: 300px) and (max-width:1024px){

  .container{
    display: none;
  }
  
}

