.GitHub {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 18px;
  gap: 11px;

  width: 464px;
  height: 58px;
  border-radius: 4.46154px;
  background: #000000;
  border: 1.11538px solid rgba(0, 0, 0, 0.4);
  color: white;
}

.Google {
  background: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 18px;
  gap: 11px;

  width: 464px;
  height: 58px;
  border-radius: 4.46154px;
  border: 1.11538px solid rgba(0, 0, 0, 0.4);
}
