.navbar {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
  background-color: #161a1f;
  height: 15vh;
  /* background-image: url(../assets/arrow.png);
  background-position: 80% 20px;
  background-repeat: no-repeat;
  background-size: 150px;
   */
}

.navbar .page_name {
  font-weight: 500;
  font-size: 46.5px;
  color: #ffffff;
}

img {
  height: 100%;
  margin-top: 30px;
  margin-right: 120px;
  opacity: 0.3;
}
.container {
  height: 100%;

}
