.header_container {
  background-color: var(--color-dark);
  color: var(--color-light);
  display: flex;
  height: 59px;
  align-items: center;
}

.header_logo {
  margin-left: 160px;
  width: 85px;
  height: 26px;
}

.header_avatar {
  margin-left: 50.14%;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  border: 1.6px solid var(--color-light);
}

.header_txt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 11.4545px;
  line-height: 120%;
  letter-spacing: -0.02em;

  color: var(--color-light);
  margin-left: 24px;
}

.header_create_snnipet {
  margin-left: 16px;
  /* margin-right: 159.91px; */
  background-color: var(--color-detail);
  min-width: 149.09px;
  height: 27.09px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 11.4545px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--color-dark);
  border-radius: 3px;
  border: none;
}
