.card {
    height: 135px;
    background-color: var(--color-light);
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    animation: slowY 600ms cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
    opacity: 0;
  }
  
  @keyframes slowY {
    0% {
      opacity: 0.9;
      transform: translateY(150px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  .content_card:hover {
    transform: translateY(10px) !important;
  }
  
  .content_card:hover > .footer_card {
    background-color: var(--color-dark);
  }
  
  .content_card {
    transition: all 0.3s ease-in-out;
  }

  .title_card {
    flex: 1;
    min-height: 70px;
    font-size: 14px;
    font-weight: 500;
    padding: 16px;
  }

.info_card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.footer_card {
    height: 35px;
    background-color: var(--color-dark-rethink);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

  }

  .content_footer_card{
    padding: 8px 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  