.cards_cointainer {
    gap: 16px;
    height: 135px;
    background-color: var(--color-light);
    border-radius: 6px;
}

.card_category {
    transition: all 0.3 ease-in-out;
}

.card_title {
    flex: 1;
    width: 70px;
    min-height: 70px;
    padding: 16.3px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
}

.card_content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    background-color: var(--color-rethink);
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
    border-radius: 0px 0px 6px 6px;
}

.card_informations {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    gap: 5px;
    color: var(--color-light);
}

.card_informations img {
    width: 16px;
    height: 16px;
}

.card_informations span {
    font-size: 12px;
    color: var(--color-light);
}

.card_informations_item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.card_informations_item img {
    width: 20px;
    height: 20px;
}

.card_informations_item span {
    font-size: 12px;
    color: var(--color-light);
}