.info_user_card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;

    color: var(--color-light);
}

.default_icon,
.liked_icon {
    width: 16px;
    height: 16px;
}

.liked_icon path{
    fill: var(--color-detail);
}