.card_container {
    width: 272px;
    height: 128px;
    border-radius: 10px;
    background-color: var(--color-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.card_title, .card_title h1 {
    margin-left: 16px;
    margin-top: 16px;
    width: 74px;
    height: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.card_title h1 {
    color: var(--color-dark);
}

.card_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-light);
    height: 34px;
    background-color: var(--color-footer);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 0 16px;
    gap: 6px;
}

.card_footer_inner {
    display: flex;
    align-items: center;
    gap: 8px;
}