.card_container {
  width: 263px;
  height: 128px;
  background-color: var(--color-light);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.card_title {
  margin-left: 16px;
  margin-top: 16px;
  width: 74px;
  height: 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.card_footer {
  background-color: var(--color-card-footer);
  height: 34px;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
  padding: 8px 16px;
}

.card_profile,
.card_info {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--color-light);
}

.card_name {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

.card_number_code {
  margin-right: 6px;
}

.card_icon_info > svg > path {
  fill: red;
}
